<launch>
    <!-- <node pkg = "plumbing_pub_sub" type = "plumbing_pub_sub_node" name = "pubxxc" output = "screen" />
    <node pkg = "plumbing_pub_sub" type = "plumbing_pub_sub_node2" name = "subxxc" output = "screen" />
    <node pkg = "plumbing_pub_sub" type = "main_pub.py" name = "pub_py" output = "screen" />
    <node pkg = "plumbing_pub_sub" type = "main_sub.py" name = "sub_py" output = "screen" /> -->
    
    <node pkg = "plumbing_pub_sub" type = "plumbing_pub_sub_node3" name = "pub_cp" output = "screen" />
    <node pkg = "plumbing_pub_sub" type = "sub_cp.py" name = "sub_cp" output = "screen" />
    
</launch>